body {
  background-color: rgb(32, 31, 31);
}

.learn {
  color: rgb(195, 65, 87);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
p {
  font-size: 50px;
  color: rgb(195, 65, 87);
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word2 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word3 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word4 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word5 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word6 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word7 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word8 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
a {
  text-decoration: none;
}

.card9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word9 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.card10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.word10 {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
